

.place-order-container {
    display: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /* background-color: #f0f0f0; */
}

.place-order-container .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.place-order-container h1 {
    text-align: center;
    color: #333;
}

.place-order-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.place-order-container input[type="text"],
.place-order-container input[type="email"],
.place-order-container input[type="tel"],
.place-order-container input[type="number"],
.place-order-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.place-order-container input[type="button"] {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.contact-us-container input[type="button"] {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.place-order-container input[type="button"]:hover {
    background-color: #0056b3;
}

.place-order-container .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.place-order-container .row input {
    flex: 1;
    margin-right: 10px;
}

.order-confirmation-container {
    display: none;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.order-confirmation-container h1 {
    color: #333;
}

.order-confirmation-container p {
    color: #555;
    margin-bottom: 20px;
}

.order-confirmation-container .confirmation-number {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 30px;
}

.order-confirmation-container .back-to-home {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.order-confirmation-container .back-to-home:hover {
    background-color: #0056b3;
}