body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.overlay {
    display: none;
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
}

.login-box {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.close-btn {

    margin-top: 10px;
}

button.open-btn {
    padding: 10px 20px;
}

.error-message {
    display: none;
    border: 2px solid #dc3545;
    background-color: rgba(220, 53, 69, .2);
    border-radius: 6px;
    margin: 10px 0;
}

.error-container {
    padding: 0px 6px;
    font-size: 12px;

}

/* Style the inline-block div with flex display */
.inline-block {
    /* display: inline-block; */
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 20px;
}

.vertical-align {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
}

.navbar-links-container {
    display: flex;
    align-items: center;
}
.navbar-links-container div{
    padding: 0 10px;
}
.navbar-links-container div a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.cart {
    position: relative;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-badge {
    position: absolute; /* Position the badge relative to the parent container */
    bottom: 0; /* Position the badge at the bottom */
    right: 0; /* Position the badge at the right */
    background-color: red; /* Background color of the badge */
    color: white; /* Text color of the badge */
    border-radius: 50%; /* Make the badge circular */
    padding: 4px 8px; /* Add padding to the badge */
    font-size: 12px; /* Adjust the font size of the badge */
}

.cart a {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: auto;
    height: 300px;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Remove any space below the image */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-details {
    padding: 20px;
}

.product-name {
    font-size: 1.5rem;
    margin: 0;
}

.product-description {
    color: #555;
    margin-top: 5px;
}

.product-price {
    font-weight: bold;
    margin: 10px 0;
}

.product-quantity {
    color: #666;
}

.product-category, .product-brand {
    margin-top: 5px;
}

.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}



.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-container {
    /* width: 1100px; */
    /* display: flex;
    flex-direction: column; */

     
}

.product-container h1 {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}


.about-us-container {
    display: none;
    width: 1300px;
}
.about-us-container h1 {
    padding: 20px;
}
.about-us-container .container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

.section {
    margin-bottom: 30px;
}

.section-heading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.section-content {
    color: #666;
}

.cart-container {
    display: none;
}

.cart-container .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 20px;
}

.cart-item {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;

}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.contact-us-container {
    display: none;
}
.contact-us-container .container {
    /* display: none; */
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    color: #333;
    text-align: center;
  }
  .contact-info {
    margin-top: 30px;
    text-align: center;
  }
  .contact-info p {
    margin: 10px 0;
  }
  .contact-info p span {
    font-weight: bold;
    color: #333;
  }
  .contact-info a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  .contact-info a:hover {
    color: #0056b3;
  }
  .message-form {
    margin-top: 30px;
    text-align: center;
  }
  .message-form input[type="text"],
  .message-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  .message-form textarea {
    height: 150px;
  }
  .message-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .message-form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .user {
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: #007bff;
    background-color: white;
    margin-left: 10px;
  }
  .user a {
    color: #007bff;
    /* background-color: white; */
  }